body { color: #333; margin-bottom: 70px;
 overflow-y: auto;
 overflow-x: hidden;
}

.sizer {
  width:20%;
}

#masonry-ctrl {
  padding-bottom: 40px;
}
.masonry-brick {
  width: 20%;
}

.masonry-brick img {
  display: none;
  max-height: 100%;
  max-width: 100%;
}

img.selected {
  width: 100%;
  height: auto;
}

.masonry-brick.loaded img {
  display: block;
}

.modal {
  display: block !important;

}
.modal-dialog {
  left: auto !important;
  right: auto !important;
  width: auto !important;
/*
  max-width:100% !important;
  */
  padding:0!important;
}
.modal-title .label {
  margin-left: 0.5em;
}
