body { color: #333;
 margin-bottom: 70px;
 overflow-y: auto;
 overflow-x: hidden;
 min-height: 800px;
}

#masonry-ctrl {
  padding-bottom: 40px;
}
.masonry-brick {
  width: 50%;
}

.sizer {
  width:50%;
}

.dropdown-menu {
  min-width: 260px;
}

@media (min-width: 992px) { 
  .sizer {width:25%;}
  .masonry-brick { width: 25%; }

}

@media (min-width: 1200px) { 
  .sizer {width:25%;}
  .masonry-brick { width: 25%; }

}

.masonry-brick img {
  display: none;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.favorite {
  border: 2px solid lightgreen;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

img.selected {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.masonry-brick.loaded img {
  display: block;
}

.btn-group {
  margin-right: 0.5em;
}
