!!! 5
html(xmlns:ng='http://angularjs.org', ng-app='tumblr-browsr', ng-init="dbName='#{dbName}'")
  head
    title= pkg_name
    link(rel='stylesheet', type='text/css', href='css/style.css')
    base(href='{{root}}')

  body(ng-controller='ctrlThumbs')
    span(ng-include, src="'navbar.html'")

    div.row(infinite-scroll='loadNext()', infinite-scroll-distance='2')
      .col-lg-12
        span(ng-include, src="'masonry.html'")

  script(type='text/javascript', src='js/app.js')
  script(src="http://localhost:35729/livereload.js")
