#masonry-ctrl(masonry,
  images-loaded,
  magnific-popup='magnific-popup',
  masonry-options='{transitionDuration: 0}')

  .masonry-brick(id='{{ brick.id }}', ng-repeat='brick in rows')
    span(ng-repeat='image in brick.images[1280]')
      a(ng-class='ratingClass(brick)', title='{{brick.site}}: {{image.width}}x{{image.height}}', href='api/{{ image.path }}')
        img(data-index='{{brick.id}}', ng-src='api/{{ brick.images[500][$index].path + (hideSeen ? "?seen" : "")}}')
    .sizer.clearfix
