#masonry-ctrl(masonry='masonry')
  .masonry-brick(id='{{ brick.id }}', ng-repeat='brick in rows')
    img(ng-src='/{{dbName}}/{{ brick.doc.images[1].path }}', ng-click='select($index)')
    .sizer.clearfix
