  <div class="modal-dialog">
      <div class="modal-content">
          
          <div class="modal-header">
          <button type="button" class="close" ng-click='cancel()'>&times;</button>
              
          <h4 class="modal-title">{{selected.date}}
                   <span ng-repeat='tag in selected.tags'
                  class="label label-primary">{{tag}}</span> 
          </h4>
         
          </div>

      <div class="modal-body">
          <img width='{{selected.width}}' ng-src="/{{dbName}}/{{ selected.id }}/image.jpg" class='selected'>
      </div>
    </div>  </div>
