nav.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
  .navbar-header: a.navbar-brand(href='#')= title
  p.navbar-text
    a(ng-click='startHere()')
      span.glyphicon.glyphicon-save
  ul.nav.navbar-nav
    li(ng-class="isFilter('favorite', true) ? 'active' : ''")
      a(ng-click="toggleFilter('favorite', true, 'must')") liked
    li.dropdown.dropup(ng-repeat='(facetName, facet) in facets')
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        | {{facetName}}
        b.caret
      ul.dropdown-menu(role='menu')
        li(ng-class="isFilter(facetName, term.term) ? 'active' : ''",
          ng-repeat='term in facet.terms')
          a(ng-click='toggleFilter(facetName, term.term)')
            | {{term.term}}
            span.pull-right.badge {{term.count}}
 
  p.navbar-text(ng-show='appending')
    span.glyphicon.glyphicon-cog
      |  loading
  
  form.navbar-form.navbar-right(role='search')
    .form-group
        input.form-control(ng-model='qs', type='text', placeholder='Search')
      button.btn.btn-default(ng-click='search(qs)', type='submit') Submit
  p.navbar-text.pull-right(ng-show='!appending')
    | {{start}} - {{start + rows.length - 1}} / {{total}}
