nav.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
  .navbar-header: a.navbar-brand(href='#')= title

  form.navbar-form.navbar-left(role='search')
    .form-group
        input.form-control(ng-model='qs', type='text', placeholder='Search')
      button.btn.btn-default(ng-click='search(qs)', type='submit') Submit
  
  ul.nav.navbar-nav.navbar-right
    li(ng-show='appending')
      a(href='#')
        span.glyphicon.glyphicon-cog
          |  loading
