nav.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
  .navbar-header: a.navbar-brand(href='#')= title
  ul.nav.navbar-nav.navbar-right
    li(ng-show='appending')
      a(href='#')
        span.glyphicon.glyphicon-cog
          |  loading
