nav.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
  .navbar-header
    a.navbar-brand(href='#', ng-click='resetAll()')= title

  ul.nav.navbar-nav
    li(ng-class="isFilter('favorite', true) ? 'active' : ''")
      a(ng-click="toggleFilter('favorite', true, 'must')") liked
    li.dropdown.dropup(ng-repeat='(facetName, facet) in facets')
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        | {{facetName}}
        b.caret
      ul.dropdown-menu(role='menu')
        li(ng-class="isFilter(facetName, term.term) ? 'active' : ''",
          ng-repeat='term in facet.terms')
          a(ng-click='toggleFilter(facetName, term.term)')
            | {{term.term}}
            span.pull-right.badge {{term.count}}
 
  p.navbar-text(ng-show='appending')
    span.glyphicon.glyphicon-cog
      |  loading

  .navbar-btn.btn-default.btn-group.pull-right
    button.btn.btn-default(ng-class="canBack() ? '' : 'disabled'", type='button')
      a(ng-click='stepBack()')
        span.glyphicon.glyphicon-step-backward
    button.btn.btn-default(ng-class="infinite ? 'active': ''", type='button')
      a(ng-click='toggleInfinite()')
        span.glyphicon.glyphicon-refresh
    button.btn.btn-default(ng-class="canNext() ? '' : 'disabled'", type='button')
      a(ng-click='stepNext()')
        span.glyphicon.glyphicon-step-forward

  p.navbar-text.pull-right(ng-show='!appending')
    | {{start}} - {{start + rows.length - 1}} / {{total}}
