<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"><a class="navbar-brand" href="#"><%= title %></a></div>
    <ul class="nav navbar-nav pull-right">
        <li><a ng-click="prevClick()" ng-show="tumblr.prevRows.length"><span class="glyphicon glyphicon-fastbackward"></span></a></li>
        <li><a ng-click="nextClick()" ng-show="tumblr.nextRow"><span class="glyphicon glyphicon-fastforward"></span></a></li>
    </ul>
</nav>
